<% include header %>
<div class="container">
  <h4>Please go back and enter a valid 10 digit phone number.</h4>
  <a href="#" onclick="history.go(-1)" class="btn btn-primary">Go Back</a>
</div>
<% include footer %>
