<% include header %>
<div class="container">
  <p><h3>Oops we think you selected a wrong product!</h3></p>
  <p><h4>Please go back and purchase a different product.</h4></p>
  <a href="/products" class="btn btn-primary">Go Back</a>
  
</div>
<% include footer %>
