<% include header %>
<style media="screen">
  .category{
    border:solid #A9A9A9 5px;
    text-align: center;
  }
</style>
<div class="container">
  <div class="jumbotron">
    <h1><i class="fas fa-dollar-sign"></i> TradeItOff</h1>
    <h3>Yaha sab bikta hai!!</h3>
  </div>
  <a class="btn btn-primary btn-lg" href="/products">Show all products</a>
  <hr>
  <h2>Categories:</h2>
  <div class="category">
    <h3><a href="/mobiles"><i class="fas fa-mobile-alt"></i>  Mobiles</a></h3>
  </div>
  <div class="category">
    <h3><a href="/cars"><i class="fas fa-car"></i>  Cars</a></h3>
  </div>
  <div class="category">
    <h3><a href="/bikes"><i class="fas fa-motorcycle"></i>  Bikes</a></h3>
  </div>
  <div class="category">
    <h3><a href="/electronics"><i class="fas fa-tv"></i>  Electronics</a></h3>
  </div>
  <div class="category">
    <h3><a href="/furniture"><i class="fas fa-couch"></i>  Furniture</a></h3>
  </div>
</div>
<% include footer %>
