<% include header %>
<div class="container">
  <div class="jumbotron">
    <h1><i class="fas fa-dollar-sign"></i> TradeItOff</h1>
    <h3>Yaha sab bikta hai!!</h3>
  </div>
  <a href="/products">Show all products</a>
  <hr>
  <h2>Categories:</h2>
  <p><a href="/mobiles">Mobiles</a></p>
  <p><a href="/cars">Cars</a></p>
  <p><a href="/bikes">Bikes</a></p>
  <p><a href="/gadgets">Gadgets</a></p>
  <p><a href="/furniture">Furniture</a></p>
  <p><a href="electronics">Electronics</a></p>
</div>
<% include footer %>
