<% include header %>
<div class="container">
  <div class="jumbotron">
    <h1>TradeItOff</h1>
    <h3>Yaha sab bikta hai!!</h3>
  </div>
  <a href="/products">Show all products</a>
  <hr>
  <h2>Categories:</h2>
  <p><a href="">Mobiles</a></p>
  <p><a href="">Cars</a></p>
  <p><a href="">Gadgets</a></p>
  <p><a href="">Electronics</a></p>
</div>
<% include footer %>
