

<% include header %>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome back!</h1>
  </div>
  <h1>Sign in</h1>
  <form class="" action="/login" method="post">
    <input type="email" name="username" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <p style="padding-top:10px;"><button type="submit" name="button" class="btn btn-success">Log in</button></p>
  </form>
</div>

<% include footer %>
