<% include header %>
<div class="container">
  <div class="jumbotron">
    <h1>Offers!</h1>
  </div>
  <h2><a href="/mobiles"><i class="fas fa-mobile-alt"></i>Mobile Phones @</a>10% off</h2>
  <hr>
  <h2><a href="/furniture"><i class="fas fa-couch">Furniture </i>10% off</h2>
  <hr>
  <h2><a href="/bikes"><i class="fas fa-motorcycle"></i>Bikes </a>10% off</h2>
  <hr>
  <h2><a href="/cars"><i class="fas fa-car"></i>Cars </a>@10% off</h2>
  <hr>
  <h2><a href="/electronics"><i class="fas fa-tv"></i>Electronics </a>10% off</h2>
</div>
<% include footer %>
